.Language{
            text-align:left;
            color:blueviolet;
        }
#table{
border:1px solid black;
}
h2{
    font-family:"times new roman";
    font-size:50px;
    font-weight:100;
    text-align:center;
    text-decoration:underline;
    color:blue;
    text-transform:uppercase;

}